.body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
h1{
    font-size: 60px;
}
p{
    font-size: 25px;
}
.slider{
    width: 390px;
    height: 10px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    margin-top: 30vh;
    position: relative;
}
.dot{
    width: 20px;
    height: 15px;
    background-color: black;
    display: flex;
    flex-direction: column-reverse;
}
.round{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: rgb(27, 96, 157);
    position: absolute;
}